<div class="ui component">
    <p class="text">
        <span class="character"
            [ngClass]="{'whitespace': character==='␣', 'wrong': wrongCharacters.includes(i), 'done': i < characterIndex}"
            *ngFor="let character of characters; let i = index"><span class='cursor'
                *ngIf="i===characterIndex"></span>{{character}}<span *ngIf="character==='␣'"><wbr></span></span>
    </p>
    <p class="text-meta">
        <span class="author">{{text.author}}</span>, <span class="book">{{text.book}}</span>, <span class="year">{{text.year}}</span>
    </p>
</div>