@keyframes blink
    0%
        opacity: 1
    50%
        opacity: 1
    51%
        opacity: 0
    100%
        opacity: 0

p.text
    width: 90%
    font-size: 2rem
    margin: auto
    position: relative

    span
        font-family: 'Courier Prime', monospace

    .cursor
        color: #777777
        animation: blink 1s linear infinite
        outline: 1px solid #777777
        position: relative
        top: -0.2rem
        height: 2rem

    .whitespace
        color: #777777
        font-size: 1.5rem
        // word-wrap: break-word

    .done
        color: green

    .done.wrong
        color: red

p.text-meta
    text-align: right
    font-size: 0.9rem
    .book
        font-style: italic
